APP_NAME="Python Practice Combined"

GEMMA_MODEL="GEMMA"
MISTRAL_MODEL="mistral:latest"
LLAMA_MODEL="LLAMA3.2:latest"
GEMMA4_MODEL="gemma4:e2b"

#FOR MAILING
RESEND_KEY=
MAILERSEND_API_KEY=

MAIL_SERVER=RESEND,MAILERSEND

GPT_MODEL="gpt-4o-mini"
OPENAI_API_KEY=

OLLAMA_BASE_URL="http://localhost:11434"

LM_STUDIO="http://localhost:1234/api/v1/"
