APP_NAME="Python Practice Combined"

GEMMA_MODEL="GEMMA"
MISTRAL_MODEL="MISTRAL:LATEST"
LLAMA_MODEL="LLAMA3.2"
GEMMA4_MODEL="gemma4:e2b"
GEMMA4_12B_MODEL="gemma4:12b"
PHI_MODEL_3="phi3"

#FOR MAILING
RESEND_KEY=
MAILERSEND_API_KEY=

MAIL_SERVER=RESEND,MAILERSEND

GPT_MODEL="gpt-4o-mini"
GPT_5_NANO="gpt-5-nano"
OPENAI_API_KEY=

OLLAMA_BASE_URL="http://localhost:11434/v1"

GEMINI_API_KEY=
GEMINI_BASEURL="https://generativelanguage.googleapis.com/v1beta/openai/"

JWT_SECRET_KEY="SUPER SECRET CODE HERE"

FAST_API_PORT=8080